import * as functions from 'firebase-functions';
import {Brazier} from '@danieleisenhardt/brazier';
import {appConfig} from './config/app';
import {routeConfig} from './config/route';

const serviceAccount = require(appConfig.serviceAccountPath);

const app = new Brazier(appConfig, routeConfig, serviceAccount);

export const api = functions.https.onRequest(app.getApi());

// commands can be used for pubsub functions
const command = app.getCommand('ExampleCommand');
command();
