import {ApiMiddleware, Request, Response} from 'brazier';

export default class ExampleMiddleware3 extends ApiMiddleware {
    public async handle(request: Request, response: Response, next: () => void) {
        console.log('ExampleMiddleware3 was called');
        next();
    }
}
